@import url(https://fonts.googleapis.com/css?family=Mooli:regular);

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Mooli', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}